<div class="_my_app_embed_block">
   <button id="proxyRequest">
    {{ block.settings.text }}
   </button>
   <div id="proxyResult"></div>
</div>


{% comment %} <script>
console.log("blocks/app-embed-block.liquid");

const shopUrl = '{{shop.secure_url}}';

// Demonstrate how the 1st party cookie can be passed to the app proxy as query.
const cookieParam = document.cookie;

// App proxy path for each shop can be edit by merchants, so you need to get the path from config or other way for real apps.
const appProxyUrl = `${shopUrl}/apps/bareboneproxy?_1st_party_cookie_sent_by_me=${
  encodeURIComponent(cookieParam)
}`;

console.log(`Accessing ${appProxyUrl} ...`);

const httpClient = new XMLHttpRequest();
httpClient.open("GET", appProxyUrl, false);
httpClient.send(null);
const res = JSON.parse(httpClient.responseText);
console.log(JSON.stringify(res, null, 4));


</script> {% endcomment %}

<script>
  window.onload = function () {
    document.getElementById('proxyRequest').addEventListener('click', proxyRequest);
  };
  async function proxyRequest () {
    const res = await fetch('{{shop.url}}/apps/proxy');
    const data = await res.json();
    console.log(data);
    if (data?.data?.orders?.nodes?.length > 0) {
      let ordersHtml = ``;
      for (const order of data.data.orders.nodes) {
        console.log(order);
        ordersHtml += `<div class="order">`;
        ordersHtml += `<div>${order.name} / ¥${order.totalPrice}</div>`;
        for (const line_item of order.lineItems.nodes) {
          ordersHtml += `<span>${line_item.title} / QTY:${line_item.quantity} / ¥${line_item.originalUnitPrice}</span>`;
        }
        ordersHtml += `</div>`;
      }
      const proxyResultElement = document.getElementById('proxyResult');
      proxyResultElement.insertAdjacentHTML('beforeend', ordersHtml);
    }
  };
</script>
{% schema %}
{
  "name": "App proxy embed block",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Your message",
      "default": "App proxy request"
    }
  ]
}
{% endschema %}